In [2]:
import pandas as pd
import numpy as np
import snoop
from pprint import pprint as print

In [7]:
df = pd.read_excel('dataframe_lamoda.xlsm')

In [16]:
df

,Postcode,Delivery date,Orders_shipped,Orders_delivered,Value_shipped,Value_delivered
0,111111,43498.26042,1,0,833.33330,0.00000
1,111111,43500.92639,1,0,21600.00000,0.00000
2,111111,43504.91667,1,0,5929.16670,0.00000
3,111111,43507.94653,2,2,3315.41665,1440.41665
4,111111,43509.97083,2,2,9510.00000,1632.91670
...,...,...,...,...,...,...
341,111116,43582.35139,1,0,2332.50000,2332.50000
342,111116,43609.60903,1,0,1499.16680,1499.16680
343,111116,43625.65903,1,0,2747.49990,2747.49990
344,111116,43628.36944,1,0,2913.33330,2913.33330
345,111116,43629.85208,1,0,3832.50000,3832.50000

In [24]:
t = df.groupby('Postcode').sum()
t['order_ratio'] = t['Orders_shipped'] / t['Orders_delivered']
t['value_ratio'] = t['Value_shipped'] / t['Value_delivered']

In [25]:
t

,Delivery date,Orders_shipped,Orders_delivered,Value_shipped,Value_delivered,order_ratio,value_ratio
Postcode,,,,,,,
111111,3.921423e+06,117,86,755560.530800,217618.825750,1.360465,3.471945
111112,5.666823e+05,22,16,75370.851300,32235.129100,1.375000,2.338159
111113,2.266109e+06,53,45,316907.841150,203363.674300,1.177778,1.558331
111114,8.711246e+05,21,12,145570.815800,115564.679400,1.750000,1.259648
111115,6.751593e+06,204,178,921418.313764,837113.465314,1.146067,1.100709
111116,6.970628e+05,16,7,64936.666900,35216.666900,2.285714,1.843919