In [51]:
import pandas as pd
import numpy as np
import snoop
from pprint import pprint as print
from tabulate import tabulate 
import dataframe_image as dfi
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [58]:
df = pd.read_excel("dataframe_lamoda.xlsm")
df.columns = [i.lower() for i in df.columns]
df.drop("delivery date", axis=1, inplace=True)
t = df.groupby("postcode").sum()
t["mean_val"] = t["value_delivered"] / t["orders_shipped"]
t = t.reset_index()

t["returns"] = t["value_shipped"] - t["value_delivered"]
t = t.sort_values(by=["mean_val"], ascending=False).set_index("postcode")

t["delivered_percent"] = t["orders_delivered"] / (t["orders_shipped"])
dfi.export(
    t.sort_values(["delivered_percent", "value_delivered"], ascending=False), "im.png"
)

[0124/015500.950027:ERROR:xattr.cc(63)] setxattr org.chromium.crashpad.database.initialized on file /var/folders/t0/fw3jvl196_v78v94hzhxhpgw0000gn/T/: Operation not permitted (1)
[0124/015500.953175:ERROR:file_io.cc(94)] ReadExactly: expected 8, observed 0
[0124/015500.956750:ERROR:xattr.cc(63)] setxattr org.chromium.crashpad.database.initialized on file /var/folders/t0/fw3jvl196_v78v94hzhxhpgw0000gn/T/: Operation not permitted (1)
[0124/015502.509772:INFO:headless_shell.cc(653)] Written to file /var/folders/t0/fw3jvl196_v78v94hzhxhpgw0000gn/T/tmp9oshhsu9/temp.png.

In [17]:
t.reset_index()[['postcode', 'K_1', 'returns']]

   postcode          K_1       returns
0    111114  9630.389950   30006.13640
1    111116  5030.952414   29720.00000
2    111115  4702.884637   84304.84845
3    111113  4519.192762  113544.16685
4    111111  2530.451462  537941.70505
5    111112  2014.695569   43135.72220

In [15]:
dfi.export(t.reset_index()[['postcode', 'K_1']], 'K_1.png')

[0124/010409.183115:ERROR:xattr.cc(63)] setxattr org.chromium.crashpad.database.initialized on file /var/folders/t0/fw3jvl196_v78v94hzhxhpgw0000gn/T/: Operation not permitted (1)
[0124/010409.186824:ERROR:file_io.cc(94)] ReadExactly: expected 8, observed 0
[0124/010409.190670:ERROR:xattr.cc(63)] setxattr org.chromium.crashpad.database.initialized on file /var/folders/t0/fw3jvl196_v78v94hzhxhpgw0000gn/T/: Operation not permitted (1)
[0124/010410.553690:INFO:headless_shell.cc(653)] Written to file /var/folders/t0/fw3jvl196_v78v94hzhxhpgw0000gn/T/tmpc3zb6vmq/temp.png.