In [7]:
import pandas as pd
import numpy as np
import snoop
from pprint import pprint as print

# %load_ext snoop
import xgboost as xgb
from IPython.core.interactiveshell import InteractiveShell

InteractiveShell.ast_node_interactivity = "all"

In [2]:
df = pd.read_csv("transactions by month.csv")
print(df)

In [8]:
def foo(x):
    if '2018' in x:
        return '2018'
    elif '2019' in x:
        return '2019'
    else:
        return 'other'


df['year'] = df['month'].apply(lambda x: foo(x))
df['margin'] = df['payment'] - df['primecost']
df

,month,action,is_partner,servtype,users,services,items,payment,primecost,year,margin
0,2018-01,new,0,domain,6107,9811,9813,2273837,1852603,2018,421234
1,2018-01,new,1,domain,1118,6702,6702,1301999,1150975,2018,151024
2,2018-01,renew,0,domain,5879,7323,7324,6176681,1499403,2018,4677278
3,2018-01,renew,1,domain,3315,11978,11984,2852070,1881500,2018,970570
4,2018-02,new,0,domain,6468,10445,10445,2383773,1918312,2018,465461
...,...,...,...,...,...,...,...,...,...,...,...
280,2019-08,renew,1,hosting,326,468,471,254977,120554,2019,134423
281,2019-09,renew,1,hosting,338,451,453,268282,127668,2019,140614
282,2019-10,renew,1,hosting,368,482,483,292319,138769,2019,153550
283,2019-11,renew,1,hosting,328,461,464,255781,121364,2019,134417
284,2019-12,renew,1,hosting,347,533,536,370346,175461,2019,194885

In [4]:
t = df.groupby('month').sum().sort_index()
t.rolling(3).mean()

,is_partner,users,services,items,payment,primecost,margin
month,,,,,,,
2018-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2018-03,5.666667,21756.666667,41189.000000,41235.666667,2.130990e+07,8.556525e+06,1.275337e+07
2018-04,5.666667,21489.000000,40331.000000,40373.333333,2.156628e+07,8.491106e+06,1.307518e+07
2018-05,5.666667,21299.666667,40285.000000,40330.666667,2.120063e+07,8.577167e+06,1.262346e+07
2018-06,6.000000,20154.666667,38443.666667,38487.333333,2.024654e+07,8.190286e+06,1.205626e+07
2018-07,6.000000,19659.333333,38323.666667,38367.666667,1.970542e+07,8.198915e+06,1.150650e+07
2018-08,6.000000,19623.333333,37902.666667,37948.000000,1.985659e+07,8.163963e+06,1.169263e+07
2018-09,5.666667,20261.666667,38557.000000,38600.666667,2.042310e+07,8.471048e+06,1.195205e+07
2018-10,5.666667,21635.000000,40593.000000,40644.333333,2.207011e+07,9.096051e+06,1.297406e+07
2018-11,5.666667,22046.666667,41533.000000,41581.333333,2.237419e+07,9.267520e+06,1.310667e+07
2018-12,6.000000,22057.333333,41985.000000,42042.333333,2.271600e+07,9.297185e+06,1.341881e+07
2019-01,6.000000,22086.000000,41581.666667,41633.666667,2.229866e+07,9.118979e+06,1.317968e+07
2019-02,6.000000,22988.333333,42954.666667,43009.000000,2.369779e+07,9.508126e+06,1.418967e+07
2019-03,6.000000,24537.000000,45189.333333,45241.333333,2.491440e+07,9.970435e+06,1.494397e+07
2019-04,6.000000,24689.000000,44495.333333,44543.666667,2.512645e+07,9.820886e+06,1.530556e+07
2019-05,5.666667,24101.333333,43044.666667,43100.000000,2.459346e+07,9.480316e+06,1.511315e+07
2019-06,5.666667,22822.333333,40265.000000,40315.333333,2.305758e+07,8.862067e+06,1.419551e+07
2019-07,5.666667,22564.666667,40966.666667,41022.666667,2.307338e+07,8.933169e+06,1.414021e+07
2019-08,6.000000,22812.666667,41375.333333,41425.000000,2.334827e+07,9.022286e+06,1.432598e+07
2019-09,6.000000,23643.333333,43551.333333,43606.000000,2.449208e+07,9.473575e+06,1.501851e+07
2019-10,6.000000,25018.666667,46071.666667,46138.000000,2.600973e+07,1.000686e+07,1.600287e+07
2019-11,6.000000,25882.666667,48065.666667,48128.000000,2.652628e+07,1.035153e+07,1.617475e+07
2019-12,6.000000,26111.333333,49338.666667,49408.000000,2.785143e+07,1.060300e+07,1.724843e+07

In [5]:
t = df.groupby(["is_partner", "year", "servtype"]).sum()[
    ["payment", "primecost", "services", "items"]
]
t
new = 1

                            payment  primecost  services   items
is_partner year servtype
0          2018 domain    103577937   44754036    211661  211715
                hosting    48494077   23034693     62284   62613
                server     51350617    1142258      5172    5258
           2019 domain    120498613   49470216    235026  235123
                hosting    63720960   30269421     81726   82156
                server     62333258     610751      5114    5175
1          2018 domain     44984403   32944853    195829  195887
                hosting     3378205    1604667      5338    5385
                server      2301385      64627       240     240
           2019 domain     48064161   34495303    206795  206845
                hosting     3847435    1824699      6090    6129
                server      2482046      56830       282     284

In [6]:
t['payment']-t['primecost']

is_partner  year  servtype
0           2018  domain      58823901
                  hosting     25459384
                  server      50208359
            2019  domain      71028397
                  hosting     33451539
                  server      61722507
1           2018  domain      12039550
                  hosting      1773538
                  server       2236758
            2019  domain      13568858
                  hosting      2022736
                  server       2425216
dtype: int64